@font-face {
    font-family: 'RockebyCd';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://www.bridgeclimb.com/www_shared/assets/fonts/39B8D0_4_0.woff2) format('woff2'), url(https://www.bridgeclimb.com/www_shared/assets/fonts/39B8D0_4_0.woff) format('woff');
}
